# APP
PORT=3000
API_PREFIX=
TRUST_PROXY=false
APP_MODE=api

# CORS
# Comma-separated list, example: http://localhost:3000,http://localhost:5173
CORS_ORIGINS=

# DATABASE
MONGO_URI=mongodb://localhost:27017/users_db
MONGO_USERNAME=admin
MONGO_PASSWORD=admin123
MONGO_AUTH_SOURCE=admin

# RABBITMQ
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=import-users.queue
RABBITMQ_PREFETCH=20

# REDIS
REDIS_URL=redis://localhost:6379
# REDIS_HOST=localhost
# REDIS_PORT=6379
REDIS_PASSWORD=redis123

# SWAGGER
SWAGGER_ENABLED=true
SWAGGER_PATH=docs
SWAGGER_TITLE=Users Import API
SWAGGER_DESCRIPTION=Users CRUD + async import API
SWAGGER_VERSION=1.0.0
